* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.classic-card {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  max-width: 300px;
}

.classic-card img {
  height: 150px;
  width: auto;
}

.separator-result-search {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #000;
}
